@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark-mode {
  background: #111517;
}

body.dark-mode .avatar-name,
body.dark-mode .chat-avatar__name,
body.dark-mode .message-date,
body.dark-mode .interlocutor-name,
body.dark-mode .btn-back,
body.dark-mode .fa-search {
  color: #ffffff;
}

body.dark-mode .message-text,
body.dark-mode .wait-message {
  color: #9196a3;
  background-color: #373b3e;
}

body.dark-mode .input-search,
body.dark-mode .chat-header {
  color: #5e6064;
  background: #111517;
}

body.dark-mode .input-message,
body.dark-mode .btn-submit {
  color: #888888;
  background-color: #303236;
}

body.dark-mode .chat-inner::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

body.dark-mode .fa-long-arrow-alt-left, 
body.dark-mode .fa-sign-in-alt, 
body.dark-mode .fa-times, 
body.dark-mode .fa-caret-down, 
body.dark-mode .fa-sign-out-alt
{
  color: #faf8fc;
}

body.dark-mode .chat-inner::-webkit-scrollbar-track {
  background-color: #111517;
}

.Toastify__toast-theme--dark {
  background: #303236 !important;
}

body.dark-mode .welcome-message,
body.dark-mode .sign-message{
  color: #d9d9d9;
}

body.dark-mode .message,
body.dark-mode .avatar-message{
  color: #9196a3;
}

body.dark-mode .chat:hover{
  background: #3e3c3c;
}